<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="imagenes/reciclar.png" type="image/x-icon"></head>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>EL JUEGO DEL RECICLAJE</title>
</head>
<body>

<div class="container text-center text-white">
  <h1 id="titulo" style="font-family: 'Press Start 2P', cursive; font-size: 3rem; margin-top: 2rem;">
  BIENVENIDO AL JUEGO DEL RECICLAJE
</h1>


</div>

<div class="container text-center text-white">
     <a href="iniciar_sesion.html">
    <button type="button" class="btn btn-success btn-lg" >Empecemos </button>
    </a>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>
